body{
    background-color: #353536;
}
.navbar{
}
nav{
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-left{
        display: flex;
        align-items: center;
        margin-left: 5%;
    }
    .nav-right{
        margin-right: 5%;
    }

    h1{color: white;
        margin-left: 10px;
    }

    ul{
        display: flex;
        list-style-type: none;
        font-size: 20px;
        
        li{
            color:rgba(255, 255, 255, 0.61);
            width: 100px;
            text-align: center;
            
            &:hover{
                color: blue;
            }

            
        }
    }

    .contact{
        color: white;
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
    }
    
}
.container{
display: flex;
}

.Showcase{

    margin-left: 6%;
    padding-top: 10%;

    width: 25%;
    h2{
        color: white;
        font-size: 45px;
    }
    p{
        color: rgba(255, 255, 255, 0.452);
        padding-bottom: 20px;
    }

    .btn1{
        border-style: none;
        color: white;
        width: 55%;
        height: 50px;
        border-radius: 5px;
        background: linear-gradient(to right,#46C2FF,#BD11FA);
        box-shadow: 0px 0px 40px 5px rgb(132, 0, 255);
    }
    .btn2{
        float: right;
        width: 40%;
        height: 50px;
        border-radius: 5px;
        background-color: rgba(255, 0, 0, 0);
        color: white;
    }
}

.triangleabso{
    position: absolute;
    margin-left: 28%;
}