@import "variables.scss";
@import "mixins.scss";

body{
    background: $backcolor ;
}

nav{
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-left{
        display: flex;
        align-items: center;
        margin-left: 5%;
    }
    .nav-right{
        margin-right: 5%;
    }

    h1{color: $light;
        margin-left: 10px;
    }

    ul{
        display: flex;
        list-style-type: none;
        font-size: 20px;
        
        li{
            color: $grey;
            width: 100px;
            text-align: center;
            
            &:hover{
                color: blue;
            }

            
        }
    }

    .contact{
        color: $light;
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
    }
    
}
.container1{
display: flex;
}

.Showcase{

    margin-left: 6%;
    padding-top: 10%;

    width: 25%;
    h2{
        color: $light;
        font-size: 45px;
    }
    p{
        color: $grey;
        padding-bottom: 20px;
    }

    .btn1{
        @include button();
    }
    .btn2{
        float: right;
        width: 40%;
        height: 50px;
        border-color: $light;
        border-radius: 5px;
        background-color: rgba(255, 0, 0, 0);
        color: $light;
    }
}

.triangleabso{
    position: absolute;
    margin-left: 28%;
}

.container2{
    display: flex;
    
    .container-logo{
        width: 50%;
    
        .logos1{

            .logo-box{
                padding: 2%;
                margin-right: 50px;
                @include boxshadow();
            }

        }
        .logos2{
            margin-left: 100px;

            .logo-box{
                padding: 2%;
                margin-right: 50px;
                margin-top: 30px;
                @include boxshadow();
            }

        }
        .logos3{
            margin-left: 140px;

            .logo-box{
                padding: 2%;
                margin-right: 50px;
                margin-top: 30px;
                @include boxshadow();
            }

        }
    }

    .partner{
        margin-left: 10%;
        padding-top: 15%;

        width: 25%;
        h3{
            color: $light;
            font-size: 40px;
        }
        p{
            color: $grey;
            padding-bottom: 0px;
        }

        
    }

} 

.container4{
    display: flex;

    .partner2{
        margin-left: 10%;
        padding-top: 15%;

        width: 25%;
        h3{
            color: $light;
            font-size: 40px;
        }
        p{
            color: $grey;
            padding-bottom: 15px;
        }
        .btn3{
            width: 40%;
            height: 50px;
            border-style: none;
            border-radius: 1px;
            background-color: rgba(0, 236, 153, 0.300);
            color: $green;
        }
        .btn4{
            @include button();
        }
    }

    .cards-colonne{
        margin-left: 50px;
        .card1{
            @include card();
            margin-bottom: 50px;
        }

        .card2{
            @extend .card1;
        }

    }
    .cards-colonne1{
        margin-left: 50px;
        margin-top: 150px;
        .card1{
            @include card();
            margin-bottom: 50px;
        }

        .card2{
            @extend .card1;
        }

    }

}